.videoCallContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#localVideo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 300px;
    overflow: hidden;
    clip-path: polygon(30% 0%, 70% 0%, 100% 10%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 10%);
}
.videoDiv{
    height: 200px;
    width: 300px;
    margin-right: 15px;
    margin-left: 15px;
    overflow: hidden;
}