.compose {
  display: flex;
  align-items: center;
  background: white;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  border: none;
  height: 100%;
  background: none;
  outline: none;
  width: 100%;
}

.compose-input {
  height: 100%;
  
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}